@font-face {
  font-family: "iconfont"; /* Project id 4620581 */
  src: url('/static/iconfont/iconfont.ttf?t=1730554686834') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diancilu-dark1:before {
  content: "\eb7f";
}

.icon-bingxiang-dark1:before {
  content: "\eb7e";
}

.icon-xiyiji-dark:before {
  content: "\eb76";
}

.icon-weibolu-dark:before {
  content: "\eb77";
}

.icon-reshuiqi-dark:before {
  content: "\eb78";
}

.icon-wifi-dark:before {
  content: "\eb79";
}

.icon-kongtiao-dark:before {
  content: "\eb7a";
}

.icon-ranqi-dark:before {
  content: "\eb7b";
}

.icon-nuanqi-dark:before {
  content: "\eb7c";
}

.icon-dianshi-dark:before {
  content: "\eb7d";
}

.icon-xiaoxi:before {
  content: "\e602";
}

.icon-xiajia-20250413:before {
  content: "\e619";
}

.icon-shoucang-20250413:before {
  content: "\e629";
}

.icon-weishiming:before {
  content: "\e661";
}

.icon-yishiming:before {
  content: "\e660";
}

.icon-dianzan-20250412:before {
  content: "\e60a";
}

.icon-zhaoxiangji:before {
  content: "\e663";
}

.icon-weixinhaoyou:before {
  content: "\e613";
}

.icon-wechatEnshrine:before {
  content: "\e600";
}

.icon-pengyouquan:before {
  content: "\e641";
}

.icon-fuzhilianjie:before {
  content: "\e740";
}

.icon-dongtai:before {
  content: "\e60e";
}

.icon-bianji:before {
  content: "\e610";
}

.icon-weixin:before {
  content: "\eb73";
}

.icon-diancilu:before {
  content: "\e647";
}

.icon-bingxiang:before {
  content: "\e607";
}

.icon-xiyiji:before {
  content: "\e60d";
}

.icon-weibolu:before {
  content: "\e60f";
}

.icon-reshuiqi:before {
  content: "\e611";
}

.icon-wifi:before {
  content: "\e612";
}

.icon-kongtiao:before {
  content: "\e609";
}

.icon-ranqi:before {
  content: "\e614";
}

.icon-nuanqi:before {
  content: "\e61c";
}

.icon-dianshi:before {
  content: "\e61e";
}

.icon-zhifubao:before {
  content: "\e634";
}

.icon-fankuijianyi:before {
  content: "\e617";
}

.icon-fabu:before {
  content: "\e63e";
}

.icon-liulan:before {
  content: "\e618";
}

.icon-daishenhe:before {
  content: "\e676";
}

.icon-dashang:before {
  content: "\e636";
}

