    $boxWidth:640rpx;
    $mainColor: #7dc3f2;
	.blue_link{
		margin-top: 20rpx;
		.blue{
			color: #1f99eb;
			display: inline;
			margin: 0 -5px 0 0;
		}
	}
	.animShake{
		animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	}
	@keyframes shake {
		10%, 90%{transform: translate3d(-1px, 0, 0);} 
				 
		20%, 80% {transform: translate3d(2px, 0, 0);}
		
		30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
			   
		40%, 60% {transform: translate3d(4px, 0, 0);}	
	}
	.logoimg{
		width: 160rpx;
		height: 160rpx;
		display: none;
	}
	.placeholder{
		color: #DCDFE6;
	}
	.main-color{
		color: $mainColor;
	}
	.underline{
		text-decoration: underline;
	}
	.tabs{
		width: $boxWidth;
		height: 100rpx;
		padding-top: 150rpx;
	}
	.btns{
		width: $boxWidth;
		margin-top: 60rpx;
	}
	.qbtn{
		height: 90rpx;
		border-radius: 50rpx;
		background-color: $mainColor;
		background-image: linear-gradient(90deg, #65d3e8,#7dc3f2);
		/* #ifndef APP-NVUE */
		display: flex;
		/* #endif */
		align-items: center;
		justify-content: center;
		box-shadow: 0 1px 0 2px rgba(0,0,0,0.05);
	}
	.btn-text-color{
		color: #ffffff;
	}
	.nav-text-color{
		color: #999999;
	}
	.label{
		width: 120rpx;
		display: none;
	}
	.label_icon{
		width: 38rpx;
		height: 38rpx;
		display: block;
		margin-right: 30rpx;
	}
	.label_fgs{
		height: 36rpx;
		width: 1px;
		border-left:1px solid #E5E5E5;
		margin-right: 30rpx;
	}
  .topbox{
	  width: 100%;
	  height: 400rpx;
	  background-repeat: no-repeat;
	  background-size: 100%;
  }
  .form{
	  padding-top: 50rpx;
	  width: $boxWidth;
  }
  .form-item{
	  padding: 30rpx 0;
	  border-bottom: 1px solid #eee;
  }
  .active{
	  position: relative;
  }
  .active::after{
	  content: "";
	  position: absolute;
	  bottom:-40rpx;
	  width: 120rpx;
	  height: 8rpx;
	  border-radius: 4rpx;
	  background-color: $mainColor;
  }
  .curtext{
	  color: $mainColor;
  }
  .other{
	  padding-top: 300rpx;
	  .other-title{
		  color: #999999;
	  }
	  .other-img {
		  padding-top: 30rpx;
	  }
	  .other-qq {
		  display: inline-block;
		  width: 80rpx;
		  height: 80rpx;
	  }
	  .other-wx {
		  padding-left: 30rpx;
		  display: inline-block;
		  width: 80rpx;
		  height: 80rpx;
	  }
  }