<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- 描述应用或SDK收集的数据类型 -->
	<key>NSPrivacyCollectedDataTypes</key>
	<array>
		<dict>
			<!-- 描述应用或SDK收集的数据类型 -->
			<key>NSPrivacyCollectedDataType</key>
			<string>NSPrivacyCollectedDataTypeName</string>
			<key>NSPrivacyCollectedDataType</key>
			<string>NSPrivacyCollectedDataTypePhoneNumber</string>
			<key>NSPrivacyCollectedDataType</key>
			<string>NSPrivacyCollectedDataTypePhysicalAddress</string>
			<key>NSPrivacyCollectedDataType</key>
			<string>NSPrivacyCollectedDataTypePreciseLocation</string>
			<key>NSPrivacyCollectedDataType</key>
			<string>NSPrivacyCollectedDataTypeCoarseLocation</string>
			<key>NSPrivacyCollectedDataType</key>
			<string>NSPrivacyCollectedDataTypeContacts</string>
			<key>NSPrivacyCollectedDataType</key>
			<string>NSPrivacyCollectedDataTypePhotosorVideos</string>
			<key>NSPrivacyCollectedDataType</key>
			<string>NSPrivacyCollectedDataTypeUserID</string>
			<key>NSPrivacyCollectedDataType</key>
			<string>NSPrivacyCollectedDataTypeDeviceID</string>
			<key>NSPrivacyCollectedDataType</key>
			<string>NSPrivacyCollectedDataTypeProductInteraction</string>
			
			
			<!-- 应用程序或SDK是否将此数据类型链接到用户的身份 -->
			<key>NSPrivacyCollectedDataTypeLinked</key>
			<true/>
			
			 <!-- 应用程序或SDK是否使用此数据类型进行跟踪 -->
			<key>NSPrivacyCollectedDataTypeTracking</key>
			<false/>
			
			<!-- 收集数据的原因/目的 -->
			<key>NSPrivacyCollectedDataTypePurposes</key>
			<array>
				<string>NSPrivacyCollectedDataTypePurposeThirdPartyAdvertising</string>
				<string>NSPrivacyCollectedDataTypePurposeAnalytics</string>
				<string>NSPrivacyCollectedDataTypePurposeAppFunctionality</string>
			</array>
		</dict>
	</array>
	
	<!-- 指示应用或SDK是否使用应用跟踪透明度框架下定义的数据进行跟踪 -->
	<key>NSPrivacyTracking</key>
	<false/>
</dict>
</plist>

